.tooltip-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: center; */
  /* margin: 5vh 0; */
  z-index: 10;
  position: relative;
}

.tooltip-item {
  position: relative;
  margin-right: -1rem;
}

.tooltip-item:hover {
  z-index: 30;
}

.tooltip-content {
  position: absolute;
  top: -4rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 50;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.375rem;
  background-color: black;
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  white-space: nowrap;
}

.tooltip-name {
  position: relative;
  z-index: 30;
  font-size: 1rem;
  font-weight: bold;
  color: white;
}

.tooltip-designation {
  font-size: 0.75rem;
  color: white;
}

.tooltip-avatar {
  position: relative;
  margin: 0;
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  border: 2px solid white;
  object-fit: cover;
  object-position: top;
  padding: 0;
  transition: all 0.5s ease;
  display: block; /* Ensure proper display */
}

.tooltip-item:hover .tooltip-avatar {
  z-index: 30;
  transform: scale(1.05);
}

.gradient-line-1 {
  position: absolute;
  bottom: -1px;
  left: 2.5rem;
  right: 2.5rem;
  z-index: 30;
  height: 1px;
  width: 20%;
  background: linear-gradient(to right, transparent, #10b981, transparent);
}

.gradient-line-2 {
  position: absolute;
  bottom: -1px;
  left: 2.5rem;
  z-index: 30;
  height: 1px;
  width: 40%;
  background: linear-gradient(to right, transparent, #0ea5e9, transparent);
}