.text-type {
  display: inline-block;
  white-space: pre-wrap;
  font-size: 3.5rem;
  font-weight: bolder;
}

.text-type__cursor {
  margin-left: 0.25rem;
  display: inline-block;
  opacity: 1;
}

.text-type__cursor--hidden {
  display: none;
}
@media (max-width: 768px) {
  .text-type {
    font-size: 2rem;
  }
}