.landing-video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    background: rgba(0, 0, 0, 0.4); /* optional: darken video for readability */
    z-index: 2;
}

.landing-video-overlay h1,
.landing-video-overlay p {
    margin: 0.5em 0 0 0;
}
.landing-video-overlay h1{
    font-size: 2.7em;
    font-weight: bold;
}

.landing-video-overlay p{
    font-size: 1.5em;
}
.landing-stats-content {
    display: flex;
    justify-content: space-evenly;
}