/* Wrapper for centering */
.ticket-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #e63946;
  perspective: 1200px;
}

/* Ticket flip container */
.ticket-card {
  width: 300px;
  height: 450px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.8s ease;
  cursor: pointer;
}
.ticket-wrapper:hover .ticket-card {
  transform: rotateY(180deg);
  transition: transform 2s ease;
}

/* Ticket faces */
.ticket-face {
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 20px;
  /* box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); */
  backface-visibility: hidden;
  padding: 20px;
  box-sizing: border-box;
}

/* Semicircle cuts */
.ticket-face::before,
.ticket-face::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background: #e63946;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}
.ticket-face::before {
  top: -20px;
}
.ticket-face::after {
  bottom: -20px;
}

/* Front face */
.ticket-front {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ticket-instruction {
  color: #555;
  font-size: 14px;
  margin-bottom: 20px;
}
.qr-placeholder {
  width: 150px;
  height: 150px;
  background: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-radius: 10px;
  margin-bottom: 30px;
}

/* Back face */
.ticket-back {
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ticket-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-card {
  color: #0077ff;
  font-size: 22px;
}
.date {
  font-size: 14px;
  color: #555;
}
.ticket-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ticket-info h3 {
  font-size: 18px;
  margin: 0;
}
.ticket-info .time {
  font-size: 20px;
  font-weight: bold;
}
.arrow {
  font-size: 24px;
  color: #e63946;
}
.ticket-details {
  font-size: 14px;
  line-height: 1.5;
  display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(2, 1fr);
}

/* Button */
.ticket-btn {
  background: #e63946;
  color: white;
  border: none;
  padding: 12px 18px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 14px;
  margin: 10px auto 0;
  display: block;
}
